.formulaire {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    user-select: none;
  }
  
.formulaire > .people{
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    }

.formulaire > .activity{
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    user-select: none;
    }

.formulaire > .addresses{
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    user-select: none;
    }

.formulaire > .button{
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    user-select: none;
    justify-content: center;
    }

.addresses {
    margin-bottom: 10px;
    }

.addressCommute {
    margin-bottom: 30px;
    }

.addressCommute > .address {
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    user-select: none;
    justify-content: flex-start;
    align-items: center;
    }

.people {
    display: flex;
    flex-direction: column;
    }

.people > .peopleInput {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 30px;
    width: 25px;
    margin: 0.2em;
    user-select: none;
    justify-content: flex-start;
    }

.activity {
    display: flex;
    flex-direction: column;
    }

.activity > .activityInput {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 30px;
    width: 100px;
    margin: 0.2em;
    user-select: none;
    justify-content: flex-start;
    }

.address > .addressInput {
    font-size: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    height: 30px;
    width: 100px;
    margin: 0.2em;
    user-select: none;
    justify-content: flex-start;
    }

.delete > .deleteButton {
    font-size: 0.5em;
    display: flex;
    flex-wrap: wrap;
    height: 36px;
    width: 100px;
    margin: 0.2em;
    user-select: none;
    }

.deleteSymbol {
    margin: auto;
    }

.addressCommute > .commutes {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    user-select: none;
    justify-content: space-evenly;
    }

.addresses > .addAddressButton {
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    user-select: none;
    justify-content: center;
    }